@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}
html, body,section{
    margin: 0;
    height: 100%;
 }
section{
    width: 100%;
    display: flex;
}
#imagem{
    width: 50%;
    height: 100%;
    background-color:#F7FAFC;
    display:flex;
    justify-content: center;
    align-items: center;
}

#login{
    margin: auto;
}

#login h1{
    font-family: Merriweather;
    font-size: 16px;
    line-height: 20px;
    color: #1A202C;
}

#login h2{
    font-family: Merriweather;
    font-size: 26px;
    line-height: 33px;
    color: #1A202C;
    margin-bottom: 39px;
}

#login form label{
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #1A202C;
}

#login form input{
    margin-top: 11px;
    margin-bottom: 28px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width:350px;
    height:50px;
    outline: none;
    padding-left: 10px;
}

#login #lembrar{
    display:flex;
    margin: 26px 0px;
    align-items: center;
}

#login #checkbox{
    border-radius: 50%;
    vertical-align: middle;
    width:13px;
    height:13px;
    border: 1px solid rgb(129, 128, 128);
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
#login #lembrar h3{
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #1A202C;
    margin-right: 94px;
    margin-left: 11px;
}

#login #lembrar h4{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2B6CB0;
}

#login #bnt-entrar{
    background: #04C35C;
    border-radius: 5px;
    width:357px;
    height:50px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: Lato;
    font-weight: bold;
    line-height: 19px;
    cursor: pointer;
    margin-bottom:15px;
}

#login #google{
    font-family: Lato;
    width:357px;
    height:50px;
    background: #1A202C;
    border-radius: 5px; 
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #FFFFFF;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
}
#login #google-img{
    margin-right: 11px;
}

p{
    position: relative;
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #1A202C;
    top: 162px;
    text-align:center;
}

a{
    cursor: pointer;
    text-decoration:none;
    color: #2B6CB0;
}

@media only screen and (max-width: 980px){
    #imagem{
        display:none;
    }
    #login form input{
        width:300px;
    }
    #login #bnt-entrar{
        width:310px;
    }
    #login #google{
        width:310px;
    }
    #login #lembrar h3{
        margin-right: 60px;
    }
    #login{
        margin: 0 auto;
    }
    #login h1{
        margin-top: 71px;
    }
}