<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen" />
    <title>Jordan Shoes</title>
</head>
<body>
    <section>
        <div id="imagem">
            <img src="../static/img/img_home.png">
        </div>
        <div id='login'>
            <h1>Bem vindo de volta</h1>
            <h2>Façã login na sua conta</h2>
            <form>
                <label>E-mail</label><br>
                <input type="email" id="email" name="email"><br>
                <label>Senha</label><br>
                <input type="password">
            </form>
            <input type='button' value='Entrar' id="bnt-entrar"><br>
            <input type='button' value='Ou faça login com o Google'id="google">
            <p>Não tem uma conta? <a>Cadastre-se</a></p>
        </div>
        
    </section>
</body>
</html>